/* Necesitamos que estos estilos se apliquen solo en version movil */
@media only screen and (max-width: 600px) {

    p {
        font-size: .85rem;
        line-height: 1.4rem;
    }

    .small {
        font-size: .7rem;
    }

    .btn__primary, .btn__secondary {
        display: block;
        text-align: center;
    }

    .mt__sm__2{
        margin-top: 1rem !important;
    }

    h1 {
        font-size: 2rem;
    }

    .header__logo h1 {
        font-size: 1.3rem;
        font-weight: 400;
    }

    .header__nav {
        display: none;
    }

    .mobile__nav{
        display: block;
    }

    .mobile__nav__icon {
        font-size: 1.5rem;
        color: #1F1F2E;
        cursor: pointer;
    }

    .mobile__nav__menu__close {
        position: absolute;
        top: 28px;
        right: 18px;
        font-size: 1.5rem;
        color: #1F1F2E;
        cursor: pointer;
    }

    .mobile__nav__menu{
        display: none;
    }

    .mobile__nav__menu.show{
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #FFFEF9;
        z-index: 999;
    }

    .mobile__nav__menu ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .mobile__nav__menu ul li {
        margin: 1rem 0;
    }

    .mobile__nav__menu ul li a {
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: 1px;
        font-family: 'Bebas Neue', cursive;
        text-transform: uppercase;
        color: #1F1F2E;
    }

    .mobile__whatsapp__btn{
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mobile__whatsapp__btn img{
        width: 55px;
        height: auto;
    }

    .cover{
        padding: 0 0 7.5rem 0;
    }

    .cover .cover__text h1 {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .cover .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cover .cover__text{
        width: 100%;
    }

    .social__media__icons{
        display: none;
    }

    .cover__image{
        width: 100%;
        margin-top: 3rem;
        padding: 0 !important;
    }

    .overview{
        padding: 2rem 0;
    }

    .overview__text {
        position: relative;
        z-index: 3;
        text-align: left;
        color: #FFF7D1;
    }

    .overview__text h3 {
        font-size: 1rem;
        text-transform: uppercase;
        line-height: 2rem;
    }

    .overview__tech__icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2.75rem;
    }

    .overview__tech__icons i {
        font-size: 1.8rem;
        margin-right: 1rem;
        color: #FFF7D1;
        opacity: 0.5;
        margin: 0;
    }

    .commercial__quote {
        padding: 2rem 0;
        margin-top: 0;
        text-align: left;
    }

    .footer {
        padding: 2rem 0;
        background-color: #1F1F2E;
        text-align: left;
    }
    .footer .container {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .footer .footer__nav ul {
        list-style: none;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin: 1rem 0  ;
        padding: 0;
    }

    .footer .footer__nav{
        width: 100%;
    }

    .footer .footer__nav ul li {
        margin-right: 0;
    }

    .footer .footer__nav ul li a {
        font-size: .7rem;
    }

    .footer .footer__social__media__icons a {
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 1px;
        font-family: 'Bebas Neue', cursive;
        text-transform: uppercase;
        color: #FFF7D1;
    }

    .footer .footer__social__media__icons {
        margin-top: 1rem;
    }

    .credits{
        margin: 1.2rem 0 0 0 !important;
        font-size: .6rem;
    }

    .about__me {
        padding: 0;
    }

    .about__me .container {
        flex-direction: column;
    }

    .about__me__text {
        width: 100%;
        padding-right: 0;
    }

    .about__me__image {
        width: 100%;
        padding-left: 0;
        position: relative;
        margin-top: 26px;
    }

    .my__skills{
        padding: 5rem 0 2rem 0;
    }

    .my__skills .container {
        flex-direction: column;
    }

    .my__skills__text {
        width: 100%;
        padding-right: 0;
    }

    .my__skills__indicators ul{
        padding: 0;
        margin: 0;
    }

    .motivational__quote {
        background-attachment: scroll;
    }

    .motivational__quote__text {
        width: 100%;
        padding-right: 0;
        color: #FFF7D1;
    }

    .sub__cover {
        width: 100%;
        padding: 0 0 7rem 0;
        background: #FFFEF9;
    }

    .sub__cover .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .sub__cover__content {
        width: 100%;
        margin-bottom: 55px;
    }

    .sub__cover__image {
        width: 100%;
        padding-left: 0;
        position: relative;
    }

    .website__details {
        padding: 3rem 0 1rem 0;
        position: relative;
        background-color: #30303F;
        color: #FFF7D1;
    }

    .website__details .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
    }

    .website__details__content {
        width: 100%;
        padding-right: 0;
    }

    .website__details__features {
        width: 100%;
        padding-left: 0;
        margin-top: 52px;
    }

    .start__project__text {
        width: 100%;
        padding-right: 0;
    }

    .start__project__form {
        width: 100%;
        padding: 0;
        background: #30303F;
    }

    .sub__cover.start__project {
        background: #30303F;
        color: #fff;
        padding: 1rem 0 2rem 0;
    }

    .latest__project {
        padding: 1rem 0;
        position: relative;
    }

    .latest__project .container {
        flex-direction: column;
    }

    .latest__project .latest__project__image {
        width: 100%;
        padding-right: 0;
        position: relative;
        margin-bottom: 7rem;
    }

    .latest__project .latest__project__text {
        width: 100%;
        position: relative;
        z-index: 3;
        padding-left: 0;
    }

    .latest__project__image__container__2 {
        width: 80%;
        height: 300px;
        overflow: hidden;
        position: absolute;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 3;
        top: 199px;
        left: 40px;
        box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
    }

    .footer__nav{
        display: none;
    }

    .footer__social__media__icons{
        display: none !important;
    }
}